*.class
TwitterTest/.classpath
TwitterTest/.project
TwitterTest/jars/*

TwitterTest/res/folger/*
TwitterTest/res/accounts.csv
TwitterTest/res/start.txt

TwitterTest/.metadata

.metadata/
.recommenders/
Test\ Sleep/
